#include <windows.h>
#include "resource.h"

IDI_MAIN_ICON ICON "icons/app_icon.ico"
IDI_CUT_ICON RCDATA "icons/cut.png"
IDI_CLEAR_ICON RCDATA "icons/clear.png"
IDI_CLIPBOARD_ICON RCDATA "icons/clipboard.png"
IDI_CONVERTER_ICON RCDATA "icons/converter.png"
IDI_COPY_ICON RCDATA "icons/copy.png"
IDI_DASHBOARD_ICON RCDATA "icons/dashboard.png"
IDI_DRAGNDROP_ICON RCDATA "icons/drag-drop.png"
IDI_GEAR_ICON RCDATA "icons/gear.png"
IDI_KANBAN_ICON RCDATA "icons/kanban.png"
IDI_POMODORO_ICON RCDATA "icons/pomodoro.png"
IDI_REMOVE_ICON RCDATA "icons/remove.png"
IDI_RENAME_ICON RCDATA "icons/rename.png"
IDI_TODO_ICON RCDATA "icons/todo.png"
IDI_PASTE_ICON RCDATA "icons/paste.png"
IDI_PIN_ICON RCDATA "icons/pin.png"
IDI_TRIGGER_ICON RCDATA "icons/trigger.png"

IDI_ADD_ICON RCDATA "icons/kanban/ic-add.png"
IDI_EDIT_ICON RCDATA "icons/kanban/ic-edit.png"
IDI_MOVE_ICON RCDATA "icons/kanban/ic-move.png"
IDI_SETTINGS_ICON RCDATA "icons/kanban/ic-settings.png"
IDI_PROJECT_ICON RCDATA "icons/kanban/ic-project.png"
IDI_BOARD_ICON RCDATA "icons/kanban/ic-board.png"
IDI_CARD_ICON RCDATA "icons/kanban/ic-card.png"
IDI_COLUMN_ICON RCDATA "icons/kanban/ic-column.png"

IDI_PRIORITY_LOW RCDATA "icons/kanban/ic-priority-low.png"
IDI_PRIORITY_MED RCDATA "icons/kanban/ic-priority-medium.png"
IDI_PRIORITY_HIGH RCDATA "icons/kanban/ic-priority-high.png"
IDI_PRIORITY_URG RCDATA "icons/kanban/ic-priority-urgent.png"

IDI_STATUS_TODO RCDATA "icons/kanban/ic-status-todo.png"
IDI_STATUS_PROG RCDATA "icons/kanban/ic-status-prog.png"
IDI_STATUS_REVIEW RCDATA "icons/kanban/ic-status-review.png"
IDI_STATUS_DONE RCDATA "icons/kanban/ic-status-done.png"

IDI_TIMER_PLAY RCDATA "icons/pomodoro/icon-play.png"
IDI_TIMER_PAUSE RCDATA "icons/pomodoro/icon-pause.png"
IDI_TIMER_RESET RCDATA "icons/pomodoro/icon-reset.png"
IDI_TIMER_SKIP RCDATA "icons/pomodoro/icon-skip.png"
IDI_TIMER_STOP RCDATA "icons/pomodoro/icon-stop.png"

SOUND_POMODORO_END RCDATA "sfx/pomodoro_end.mp3"
SOUND_BREAK_END RCDATA "sfx/break_end.mp3"
SOUND_SUCCESS RCDATA "sfx/success.mp3"
SOUND_NOTIFICATION RCDATA "sfx/notification.mp3"

IDI_KANBAN_EDIT RCDATA "icons/kanban/ic-edit.png"
IDI_KANBAN_DELETE RCDATA "icons/kanban/ic-delete.png"
IDI_KANBAN_DUEDATE RCDATA "icons/kanban/ic-duedate.png"
IDI_KANBAN_PRIORITY RCDATA "icons/kanban/ic-priority.png"
IDI_KANBAN_SETTING RCDATA "icons/kanban/ic-settings.png"
IDI_KANBAN_PRIORITY_LOW RCDATA "icons/kanban/ic-priority-low.png"
IDI_KANBAN_PRIORITY_MEDIUM RCDATA "icons/kanban/ic-priority-medium.png"
IDI_KANBAN_PRIORITY_HIGH RCDATA "icons/kanban/ic-priority-high.png"
IDI_KANBAN_PRIORITY_URGENT RCDATA "icons/kanban/ic-priority-urgent.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Alvians", "Potensio Development"
            VALUE "FileDescription", "Potensio - Productivity Suite"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "Potensio"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "Potensio.exe"
            VALUE "ProductName", "Potensio Productivity Suite"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
